body {
    background-color:#F7FBFC;
    font-family: 'Exo 2', sans-serif;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;/*#6eaced*/
    background-color: #5094d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-to-top:hover {
    background-color: #0052aa;
}

.back-to-top:active {
    transform: scale(0.8);
}

/* Progress Ring */
.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-ring-circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* Arrow */
.arrow {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
}